.orders-page {
  padding: 40px;
}

.order-card {
  background: white;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 6px 14px rgba(0,0,0,0.08);
}
.order-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}